/* [project]/src/styles/theme.css [app-client] (css) */
:root {
  --radius: .625rem;
  --background: #fff;
  --foreground: #020618;
  --card: #fff;
  --card-foreground: #020618;
  --popover: #fff;
  --popover-foreground: #020618;
  --primary: #0f172b;
  --primary-foreground: #f8fafc;
  --secondary: #f1f5f9;
  --secondary-foreground: #0f172b;
  --muted: #f1f5f9;
  --muted-foreground: #62748e;
  --accent: #f1f5f9;
  --accent-foreground: #0f172b;
  --destructive: #e40014;
  --border: #e2e8f0;
  --input: #e2e8f0;
  --ring: #90a1b9;
  --chart-1: #f05100;
  --chart-2: #009588;
  --chart-3: #104e64;
  --chart-4: #fcbb00;
  --chart-5: #f99c00;
  --sidebar: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
}

@supports (color: lab(0% 0 0)) {
  :root {
    --background: lab(100% 0 0);
    --foreground: lab(1.76974% 1.32743 -9.28855);
    --card: lab(100% 0 0);
    --card-foreground: lab(1.76974% 1.32743 -9.28855);
    --popover: lab(100% 0 0);
    --popover-foreground: lab(1.76974% 1.32743 -9.28855);
    --primary: lab(7.78673% 1.82346 -15.0537);
    --primary-foreground: lab(98.1434% -.369549 -1.05968);
    --secondary: lab(96.286% -.852466 -2.46847);
    --secondary-foreground: lab(7.78673% 1.82346 -15.0537);
    --muted: lab(96.286% -.852466 -2.46847);
    --muted-foreground: lab(48.0876% -2.03595 -16.5814);
    --accent: lab(96.286% -.852466 -2.46847);
    --accent-foreground: lab(7.78673% 1.82346 -15.0537);
    --destructive: lab(48.4493% 77.4328 61.5452);
    --border: lab(91.7353% -.998765 -4.76968);
    --input: lab(91.7353% -.998765 -4.76968);
    --ring: lab(65.5349% -2.25151 -14.5072);
    --chart-1: lab(57.1026% 64.2584 89.8886);
    --chart-2: lab(55.0223% -41.0774 -3.90277);
    --chart-3: lab(30.372% -13.1853 -18.7887);
    --chart-4: lab(80.1641% 16.6016 99.2089);
    --chart-5: lab(72.7183% 31.8672 97.9407);
  }
}

.dark {
  --background: #020618;
  --foreground: #f8fafc;
  --card: #020919;
  --card-foreground: #f8fafc;
  --popover: #0f172b;
  --popover-foreground: #f8fafc;
  --primary: #e2e8f0;
  --primary-foreground: #0f172b;
  --secondary: #1d293d;
  --secondary-foreground: #f8fafc;
  --muted: #1d293d;
  --muted-foreground: #90a1b9;
  --accent: #1d293d;
  --accent-foreground: #f8fafc;
  --destructive: #ff6568;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #6a7282;
  --chart-1: #1447e6;
  --chart-2: #00bb7f;
  --chart-3: #f99c00;
  --chart-4: #ac4bff;
  --chart-5: #ff2357;
}

@supports (color: lab(0% 0 0)) {
  .dark {
    --background: lab(1.76974% 1.32743 -9.28855);
    --foreground: lab(98.1434% -.369549 -1.05968);
    --card: lab(2.32978% .668667 -9.81304);
    --card-foreground: lab(98.1434% -.369549 -1.05968);
    --popover: lab(7.78673% 1.82346 -15.0537);
    --popover-foreground: lab(98.1434% -.369549 -1.05968);
    --primary: lab(91.7353% -.998765 -4.76968);
    --primary-foreground: lab(7.78673% 1.82346 -15.0537);
    --secondary: lab(16.132% -.318021 -14.6672);
    --secondary-foreground: lab(98.1434% -.369549 -1.05968);
    --muted: lab(16.132% -.318021 -14.6672);
    --muted-foreground: lab(65.5349% -2.25151 -14.5072);
    --accent: lab(16.132% -.318021 -14.6672);
    --accent-foreground: lab(98.1434% -.369549 -1.05968);
    --destructive: lab(63.7053% 60.7449 31.3109);
    --border: lab(100% 0 0 / .1);
    --input: lab(100% 0 0 / .15);
    --ring: lab(47.7841% -.393212 -10.0268);
    --chart-1: lab(36.9089% 35.0961 -85.6872);
    --chart-2: lab(66.9756% -58.27 19.5419);
    --chart-3: lab(72.7183% 31.8672 97.9407);
    --chart-4: lab(52.0183% 66.11 -78.2316);
    --chart-5: lab(56.101% 79.4329 31.4532);
  }
}

@theme inline {
  --font-inter: "Inter", "sans-serif"; --font-manrope: "Manrope", "sans-serif"; --radius-sm: calc(var(--radius)  - 4px) ; --radius-md: calc(var(--radius)  - 2px) ; --radius-lg: var(--radius) ; --radius-xl: calc(var(--radius)  + 4px) ; --color-background: var(--background) ; --color-foreground: var(--foreground) ; --color-card: var(--card) ; --color-card-foreground: var(--card-foreground) ; --color-popover: var(--popover) ; --color-popover-foreground: var(--popover-foreground) ; --color-primary: var(--primary) ; --color-primary-foreground: var(--primary-foreground) ; --color-secondary: var(--secondary) ; --color-secondary-foreground: var(--secondary-foreground) ; --color-muted: var(--muted) ; --color-muted-foreground: var(--muted-foreground) ; --color-accent: var(--accent) ; --color-accent-foreground: var(--accent-foreground) ; --color-destructive: var(--destructive) ; --color-border: var(--border) ; --color-input: var(--input) ; --color-ring: var(--ring) ; --color-chart-1: var(--chart-1) ; --color-chart-2: var(--chart-2) ; --color-chart-3: var(--chart-3) ; --color-chart-4: var(--chart-4) ; --color-chart-5: var(--chart-5) ; --color-sidebar: var(--sidebar) ; --color-sidebar-foreground: var(--sidebar-foreground) ; --color-sidebar-primary: var(--sidebar-primary) ; --color-sidebar-primary-foreground: var(--sidebar-primary-foreground) ; --color-sidebar-accent: var(--sidebar-accent) ; --color-sidebar-accent-foreground: var(--sidebar-accent-foreground) ; --color-sidebar-border: var(--sidebar-border) ; --color-sidebar-ring: var(--sidebar-ring) ;
}

/*# sourceMappingURL=src_styles_theme_css_bad6b30c._.single.css.map*/