# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pdb
*.egg-info/

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
/static/
/media/

# VS Code
.vscode/

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*

# uv lock files
uv.lock

# Pipenv
Pipfile
Pipfile.lock

# MacOS
.DS_Store

# Windows
Thumbs.db
